*{
    margin: 0;
    padding: 0;
}


/* header */
.header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 2rem;
    border-bottom: 5px red solid;
}

.links{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header a{
    color: white;
    text-decoration: none;
}
.vertical-line{
    width: 0.15rem;
    height: 1.5rem;
    background-color: white;
}

.display{
    display: none;
}




/* hero section */

.swiper-slide{
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    background-color: #191919;
    border-bottom: 5px solid red;
    padding: 1rem 0;
    color: white;
}

.swiper-slide > img{
    height: 80vh;
    width: 40vw;
    box-shadow: -10px 0 20px -5px rgb(58, 3, 3)
}

.hero-content{
    display: flex;
    flex-direction: column;
    max-width: 30vw;
    gap: 2rem;
}
.title > h1{
    font-size: 5rem;
    color: whitesmoke;
}

.hero-btn{ 
    padding: 1rem 0.7rem;
    background-color: #191919;
    color: red;
    border: 2px solid red;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color ease-in-out 0.5s;
}

.hero-btn:hover{ 
    background-color: white;
}

.date-time{
    display: flex;
    align-items: center;
    gap: 1rem;
}



/* movies */
.movies-container{
    background-color: #191919;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    padding: 3rem;
}

.movie-item{
    display: flex;
    flex-direction: column;
    color: white;
    transition: all ease-in-out 0.5s;
}
.movie-item > a{
    text-decoration: none;
    color: white;
}
.movie-item:hover{
    transform: scale(1.05   );
}

.date-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-item-poster{
    height: 35vh;
    width: auto;
}

.movie-item-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    background-color: black;
    color: white;
    border-top: 5px solid red;
}

hr{
    border-top: none;
    width: 50%;
    border-bottom: 0.1rem solid red;
}