*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #191919;
}



.movie-details{
    background-color: #191919;
    /* height: 100dvh; */
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    gap: 4rem;
}

.movie-details-poster{
    width: auto;
    height: 70vh;
}

.movie-details-content{
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    gap: 2rem;
    color: white;
}

.movie-details-content > h1, .movie-details-content > p >strong {
    color: red;
}

.admin-import-shows{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    color: white;
    gap: 2rem;
}

.admin-import-shows > h1{
    color: red;
}

.admin-import-shows > form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.admin-import-shows > form > div > input{
    padding: 0.2rem;
}
.admin-import-shows > form > div > label{
    font-weight: bold;
    color: red;
}

.shows-form-btn{
    max-width: fit-content;
    padding: 0.2rem 2rem;
    background-color: #191919;
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    cursor: pointer;
}
.display{
    display: none;
}

.shows{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}
.shows > h1{
    color: red;
}

.shows-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 12.5vw;
    gap: 3rem;
    
}

.shows-btn > a > button{
    padding: 1rem 0.4rem;
    border-radius: 10px;
    background-color: #191919;
    border: 2px solid red;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.shows-btn > a >button:hover{
    background-color: white;
    border: 4px solid red;
    color: black;
}